/* font-family: 'Alata', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
 */

body{
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Alata', sans-serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Containers */
 .container-main {
   padding: 3% 4% 2%;
 }

.container-fluid {
     padding: 5% 2% 5%;
}


/* Titles */
.title{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4rem;
}

.title-white{
  margin: auto;
  text-align: center;
  color: white;
}

.subtitle{
  padding: 0.5% 0 5%;
  font-size: 1rem;
}

.subtitle-white{
  color: white;
}
 /* Nav Bar */
 #start-title {
   background-color: #fbd46d;
 }

 .name{
   width: 8%;
 }

.nav-link{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.name-position{
  text-align: center;
}

.nav-title{
  margin: auto;
}

.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
}

/* Title */
.header-content{
  padding: 20px;
}

.myface{
  width: 30%;
  padding-bottom: 5%;
}

.title-words {
  padding: 1rem 0 0;

}

/* Content */
#inspiration {
  background-color: #eeeeee;
  text-align: center;
}


.fa-heartbeat{
  padding-top: 7%;
  font-size: 3rem;
  color: #4f8a8b;
}

.fa-heartbeat:hover {
  color: #222831;
}

.quote {
  padding: 3% 0 0;
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
}

/* Skills */
#skills {
  background-color: #222831;
  text-align: center;
}
.skillset {
  color: white;
  padding: 10% 20% 0;
}

.icon-2 {
  padding: 2% 0 4%;
  font-size: 2.5rem;
  color: #fbd46d;
}

.icon-2:hover {
  color: #eeeeee;
}

/* Testimonials */
#testimonials {
  background-color: #4f8a8b;
  text-align: center;
}

.testimonial {
  width: 20%;
  padding: 5% 2% 5%;
}

.carousel-item{
  padding: 7% 15%;
}

.school-icon{
  width: 30%;
  padding: 0 5%;
}

.schools {
  padding: 3% 0 0;
}

/* Hobbies */
#hobbies {
  background-color: # #eeeeee;
  text-align: center;
}

.card-body{
  background-color: #eeeeee;
}

.title-hobbies {
  margin-bottom: 0;
}

/* Price */
#price {
  background-color: #222831;
  text-align: center;
}

.price-title{
  color: white;
  margin: auto;
  padding: 5% 0 0;
}

.price-subtitle {
  color: white;
  padding: 0 0 7%;
  font-family: 'Roboto Condensed', sans-serif;
}

.list-unstyled {
  font-family: 'Roboto Condensed', sans-serif;
}

.contact-button:hover{
  text-decoration: none;
}

/* Socials */
#contactme {
  background-color: #fbd46d;
  text-align: center;
}
.social{
  width: 5%;
}

.links {
  padding: 0 0 2%;
}

.contact {
  padding-top: 0;
}

#contactme.blue{
  background-color: #4f8a8b;
}

/* Work Page */
.skill-icons {
  width: 100px;
  padding: 3% 2% 0;
}

.skills-title {
  padding: 10% 0 0;
}

.git-title{
  padding-top: 0;
}

.git-row{
  padding: 7%;
}

.center-btn {
  text-align: center;
}

/* Media Query */
@media (min-width: 1028px){

  .quote {
    padding: 3% 0 5%;
    font-family: 'Alata', sans-serif;
    font-size: 3rem;
  }

  .title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
  }


  .subtitle{
    padding: 0.5% 0 5%;
    font-size: 1.5rem;
  }

  .icon-2 {
    font-size: 4rem;
  }

  .skill-icons {
    width: 150px;
  }

}
